
/* :root {
    --main-bg-color: #13285b;
    --main-bg-dark:#263858;
    --main-text-color: #fff;
} */
@charset "utf-8";
@font-face{
    font-family: 'MiSans';
    src: url('../font/MiSans-Regular.ttf');
}
@font-face{
    font-family: 'MiSans-Medium';
    src: url('../font/MiSans-Medium.ttf');
}
@font-face{
    font-family: 'YouSheBiaoTiHei';
    src: url('../font/YouSheBiaoTiHei.ttf');
    font-weight: normal;
    font-style: normal;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    border-radius: 10px;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #E5E6EB;
}
:root {
    --main-bg-color: #F4F6FA;
    --main-bg-color-opacity: rgba(255,255,255,.8);
    --main-header-color: #fff;
    --main-breadcrumb-bg-color: #F5F5F5;
    --main-breadcrumb-text-color: #556574;
    --main-menu-bg-color: #fff;
    --main-text-color: #000;
    --main-text-light-color: #D8D8D8;
    --main-primary-color: rgb(24, 144, 255);
    --main-danger-color: #b33b3d;
}
html,body{
    overflow: hidden;
    padding: 0 !important;
    color: var(--main-text-color);
    font-family: MiSans;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.relative{
    position: relative;
}
.loading-shadow{
    background: rgba(123, 123, 123, 0.2);
    z-index: 9999;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.loading-source{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -40px;
}
.loading-dot{
    position: relative;
    width: 50px;
    height: 50px;
    display: block;
    margin-left: 20px;
    margin-bottom: 20px;
    transform: rotate(0deg);
    animation: loadingRotate 1s infinite linear;
}
@keyframes loadingRotate{
    to { transform: rotate(450deg);}
}
@-webkit-keyframes loadingRotate /*Safari and Chrome*/
{
    to { transform: rotate(405deg);}
}
.loading-dot i{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #0a83ff;
    display: inline-block;
    opacity: .3;
    animation: loadingOpacity .4s infinite linear alternate;
    -webkit-animation:loadingOpacity .4s infinite linear alternate; /* Safari 和 Chrome */
}
@keyframes loadingOpacity{
    to { opacity:1}
}

@-webkit-keyframes loadingOpacity /*Safari and Chrome*/
{
    to { opacity:1}
}
.loading-dot i:nth-child(1){
    top: 0;
    left: 0;
    border-radius: 100%;
}
.loading-dot i:nth-child(2){
    top: 0;
    right: 0;
    border-radius: 100%;
    animation-delay: .4s;
}
.loading-dot i:nth-child(3){
    bottom: 0;
    left: 0;
    border-radius: 100%;
    animation-delay: .8s;
}
.loading-dot i:nth-child(4){
    bottom: 0;
    right: 0;
    border-radius: 100%;
    animation-delay: 1.2s;
}
.loading-text i{
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #0a83ff;
    margin-left: 6px;
    border-radius: 100%;
    opacity: .3;
    animation: loadingTextOpacity .4s infinite linear alternate;
    -webkit-animation:loadingTextOpacity .4s infinite linear alternate; /* Safari 和 Chrome */
}
@keyframes loadingTextOpacity{
  to{
      opacity: 1;
  }
}
.ant-form-inline .ant-form-item{
    width: 100%;
}
@-webkit-keyframes loadingTextOpacity{
    to{
        opacity: 1;
    }
}
.loading-text i:nth-child(2){
    animation-delay: 0.3s;
}
.loading-text i:nth-child(3){
    animation-delay: 0.6s;
}
.flex{
    display: flex;
}
.les-table-toolbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.les-card{
    background: #f0f2f5;
}
.les-card,.les-card-padding{

}
.les-card .les-card-header{
   height: 54px;
   line-height: 54px;
   padding-left: 10px;
   font-size: 16px;
   border-bottom: 1px solid #e8e8e8;
}
.les-card .les-card-header i{
    font-size: 20px;
    margin-right: 2px;
}
.les-drawer-form{
    position: relative;
    padding-bottom: 30px;
}
.les-drawer-form-footer{
    position: fixed;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    z-index: 1;
    margin-left: -24px;
    width: 480px;
    text-align: right;
}
.les-drawer-form-footer button{
    margin: 0 4px;
}

#lmodals-container  .vm--overlay{
    display: none;
}
#lmodals-container .vm--container{
    width: 0;
}

.searchBar {
    margin: -10px -10px 10px -10px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .3);
}
.toolbar {
    margin-bottom: 10px;
}
.page-header-title {
    color: #17233d;
    font-weight: 500;
    font-size: 20px;
}
.page-content-body {
    padding: 10px;
    background-color: #f0f2f5;
}
#app-content{
    background-color: var(--main-bg-color);
}
.page-table-frame{
    border: 1px solid #eee;
    background-color: white;
}
.page-table-pager{
    margin: 10px;
    text-align: right;
}
.ant-table-body{
    background-color: var(--main-menu-bg-color);
}
.page-drawer-footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #e8e8e8;
    padding: 10px 16px;
    text-align: right;
    background: #fff;
    background: var(--main-header-color);
}

.main-menu .ant-menu-inline-collapsed > .ant-menu-item,
.main-menu .ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item,
.main-menu .ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title,
.main-menu .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
  padding: 0 20px !important;
}
.cursor-point{
    cursor: pointer;
}
.amap-info-content{
    box-shadow: 0px 4px 16px 0px rgb(0 0 0 / 12%);
}
.ant-col{
    width: 100%;
}
/*body a{*/
/*    color: var( --main-breadcrumb-text-color);*/
/*}*/
.backgroundColorLight{
   background-color: var(--main-bg-color-opacity);
}
.page-content-header{
    margin-bottom: 8px;
}
.ant-table-row{
    /*height: 58px !important;*/
}
.pro-layout .ant-layout-header{
    padding: 0;
  }


#app .button-color-warning {
    background-color: #faad14;
    border-color: #faad14;
    color: #fff;
}
#app .button-color-warning:hover,#app .button-color-warning:focus {
    background-color: #ffbf25;
    border-color: #ffbf25;
}
#app .button-color-warning:active, #app .button-color-warning.active {
    background-color: #d48806;
    border-color: #d48806;
}

#app .button-color-info {
    background-color: #2db7f5;
    border-color: #2db7f5;
    color: #fff;
}
#app .button-color-info:hover, #app .button-color-info:focus {
    background-color: #57c5f7;
    border-color: #57c5f7;
}
#app .button-color-info:active, #app .button-color-info.active {
    background-color: #2b85e4;
    border-color: #2b85e4;
}
#app .button-color-success {
    background-color: #52C41A;
    border-color: #52C41A;
    color: #fff;
}
#app .button-color-success:hover, #app .button-color-success:focus {
    background-color: #73d13d;
    border-color: #73d13d;
}
#app .button-color-success:active, #app .button-color-success.active {
    background-color: #389e0d;
    border-color: #389e0d;
}
#app .button-color-dust {
    background-color: #F5222D;
    border-color: #F5222D;
    color: #fff;
}
#app .button-color-dust:hover, #app .button-color-dust:focus {
    background-color: #ff4d4f;
    border-color: #ff4d4f;
}
#app .button-color-dust:active, #app .button-color-dust.active {
    background-color: #cf1322;
    border-color: #cf1322;
}
#app .button-color-volcano {
    background-color: #FA541C;
    border-color: #FA541C;
    color: #fff;
}
#app .button-color-volcano:hover, #app .button-color-volcano:focus {
    background-color: #ff7a45;
    border-color: #ff7a45;
}
#app .button-color-volcano:active, #app .button-color-volcano.active {
    background-color: #d4380d;
    border-color: #d4380d;
}
#app .button-color-sunset {
    background-color: #FAAD14;
    border-color: #FAAD14;
    color: #fff;
}

#app .button-color-sunset:hover, #app .button-color-sunset:focus {
    background-color: #ffc53d;
    border-color: #ffc53d;
}
#app .button-color-sunset:active, #app .button-color-sunset.active {
    background-color: #d48806;
    border-color: #d48806;
}
#app .button-color-cyan {
    background-color: #13C2C2;
    border-color: #13C2C2;
    color: #fff;
}
#app .button-color-cyan:hover, #app .button-color-cyan:focus {
    background-color: #36cfc9;
    border-color: #36cfc9;
}
#app .button-color-cyan:active, #app .button-color-cyan.active {
    background-color: #08979c;
    border-color: #08979c;
}
#app .button-color-green {
    background-color: #52C41A;
    border-color: #52C41A;
    color: #fff;
}
#app .button-color-green:hover, #app .button-color-green:focus {
    background-color: #73d13d;
    border-color: #73d13d;
}
#app .button-color-green:active, #app .button-color-green.active {
    background-color: #389e0d;
    border-color: #389e0d;
}
#app .button-color-daybreak {
    background-color: #1890FF;
    border-color: #1890FF;
    color: #fff;
}
#app .button-color-daybreak:hover, #app .button-color-daybreak:focus {
    background-color: #096dd9;
    border-color: #096dd9;
}
#app .button-color-daybreak:active, #app .button-color-daybreak.active {
    background-color: #40a9ff;
    border-color: #40a9ff;
}
#app .button-color-geekblue {
    background-color: #2F54EB;
    border-color: #2F54EB;
    color: #fff;
}
#app .button-color-geekblue:hover, #app .button-color-geekblue:focus {
    background-color: #1d39c4;
    border-color: #1d39c4;
}
#app .button-color-geekblue:active, #app .button-color-geekblue.active {
    background-color: #597ef7;
    border-color: #597ef7;
}
#app .button-color-purple {
    background-color: #722ED1;
    border-color: #722ED1;
    color: #fff;
}
#app .button-color-purple:hover, #app .button-color-purple:focus {
    background-color: #9254de;
    border-color: #9254de;
}
#app .button-color-purple:active, #app .button-color-purple.active {
    background-color: #531dab;
    border-color: #531dab;
}
#app .button-color-disabled-dark {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: #434343;
    text-shadow: none;
    box-shadow: none;
 }
 #app .button-color-disabled-white {
    color: rgba(0, 0, 0, 0.25);
    background-color: #f5f5f5;
    border-color: #d9d9d9;
    text-shadow: none;
    box-shadow: none;
}
.page-table{
    padding: 10px;
}
.page-table-conditions{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: var(--main-bg-color);
    padding: 10px;
    border: 1px solid var(--main-text-light-color);
    border-radius: 4px;
}
.page-table-search{
    display: flex;
    overflow: auto;
}
.page-table-search .ant-input-search{
    width: 160px;
    margin: 0 2px;
    height: 34px;
}
.page-table .ant-btn-group{
    display: flex;
}
.page-table-search .ant-select {
    width: 150px;
    margin: 0 2px;
}
.les-input-disabled .ant-input-disabled,.les-input-disabled {
    background-color: transparent !important;
}
.ant-form-item{
    margin-bottom: 6px !important;
}
.ant-modal-header{
    background-color: #178fff !important;
}
.ant-modal-title,.ant-modal-close-x{
    color: #fff !important;
}
body .ant-modal-header{
    cursor: move;
    padding: 10px 24px !important;
}
body .ant-modal-close-x{
    width: 50px;
    height: 42px;
    line-height: 42px;
}
.ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected{
    background-color: var(--main-primary-color) !important;
    color: #fff;
}