body{
    margin: 0 !important;
    scroll-behavior: smooth;

}
body::-webkit-scrollbar{
    width: 0px;
}
html::-webkit-scrollbar{
    width: 0px;
}
.is-land{
    word-break: break-all;
    --base-title-fontfamilly:Rany-normal;
    --base-content-fontfamilly:MS-THIN;
    --title-bold-fontfamilly: MS-SB;
    --title-bkcolor:#f0f0f0;
    --content-bkcolor:#fafafa;

    --ruchang-describe-fontfamilly:Rany-normal;
}
.is-land.zh{
    --base-title-fontfamilly:Rany-normal;
    --base-content-fontfamilly:思源宋EL;
    --title-bold-fontfamilly: MS-SB;
    --title-bkcolor:#f0f0f0;
    --content-bkcolor:#fafafa;

    --ruchang-describe-fontfamilly:思源黑EL;
}
@font-face {
    font-family: 思源黑体-EL;
    src:url("../fonts/思源黑体SourceHanSansCN-ExtraLight.otf");
}
@font-face {
    font-family: Rany-Bold;
    src:url("../fonts/Rany-Bold.otf");
}
@font-face {
    font-family: Rany-normal;
    src:url("../fonts/Rany.otf");
}
@font-face {
    font-family: MS-Regular;
    src:url("../fonts/MontaguSlab16pt-Regular.otf");
}
@font-face {
    font-family: MS-Bold;
    src:url("../fonts/MontaguSlab16pt-Bold.otf");
}
@font-face {
    font-family: MS-SB;
    src:url("../fonts/MontaguSlab16pt-SemiBold.otf");
}
@font-face {
    font-family: MS-EL;
    src:url("../fonts/MontaguSlab16pt-ExtraLight.otf");
}
@font-face {
    font-family: 思源宋;
    src:url("../fonts/思源宋体SC-Regular.otf");
}
@font-face {
    font-family: 思源宋EL;
    src:url("../fonts/思源宋体SC-ExtraLight.otf");
}
@font-face {
    font-family: 思源黑EL;
    src:url("../fonts/思源黑体SourceHanSansCN-ExtraLight.otf");
}
@font-face {
    font-family: MS-THIN;
    src:url("../fonts/MontaguSlab16pt-Thin.otf");
}
